h4 {font-family: Verdana; color: chocolate; }
p {font-size: 14pt; }
ul {text-align: center; list-style-type: square; }
p#contacts_ {border: 3px dotted grey; text-align: center; }
.pics{text-align: center; }
body {background-color:#c0d6e7;}